<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Wait, but why?</h2>
            <p>I like having all my stuff in one place. Especially information. My favorite information place is my RSS reader. Sadly Twitter killed their timeline RSS feed some time ago. So I made one. Enjoy.
            </p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      -->
        </div>
        <div class="col-md-4">
            <h2>(alpha)</h2>
            <p>May. Break. Any. Time.</p>
            <p> If it does:<br /><br />
                <a class="btn btn-social btn-twitter btn-xs" href="https://twitter.com/p2lab_com" target="_blank">
                    <span class="fa fa-twitter"></span> Contact me on Twitter
                </a>

            </p>
        </div>
        <div class="col-md-4">
            <h2>Is it ... legal?</h2>
            <p>I have no idea. Twitter says on their
                <a href="https://dev.twitter.com/overview/terms" target="_blank">
              developer page
          </a>:
                <blockquote>
                    <p>"Don’t resyndicate data. If your service consumes Twitter data, don’t take that data and expose it via an API, post it to other cloud services, and so on."</p>
                </blockquote>
                Converting your home timeline feed from their API to RSS and providing it back to you might or might not fall under that clause. So, if Twitter is in a bad mood they might disable this app (see '(alpha)'). Sorry.
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; p2lab 2016</p>
    </footer>
</div>
<!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-75043810-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>