{{template "twissr_header.tmpl.html"}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>TwiSSR (alpha)</h1>
        <p>Get your Twitter home timeline as an RSS feed.</p>
        <p>
            Hi {{.screen_name}}!<br />
            It seems everything worked out fine. <br />Here is the RSS feed for your
            Twitter home timeline

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">RSS</span>
              <input id="rssURL" type="text" class="form-control"
              value="{{.rssURL}}" aria-describedby="basic-addon1" autofocus readonly>
              <script>window.onload = document.getElementById('rssURL').select();</script>
            </div>

            <!--
            <a class="btn btn-primary btn-lg" href="{{.rssURL}}" role="button">
                {{.rssURL}}
            </a>
            -->
        </p>
      </div>
    </div>

{{template "twissr_footer.tmpl.html"}}
