{{template "twissr_header.tmpl.html"}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>TwiSSR (beta)</h1>
        <p>Get your Twitter home timeline as RSS feed.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{.tlurl}}" role="button">
                <img src="/static/sign-in-with-twitter-gray.png" />
            </a>
        </p>
      </div>
    </div>

{{template "twissr_footer.tmpl.html"}}
