{{template "twissr_header.tmpl.html"}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>TwiSSR (alpha)</h1>
        <p>Get your Twitter home timeline as an RSS feed. 2</p>
        <p>

          <a class="btn btn-social btn-twitter btn-lg" href="{{.authURL}}">
              <span class="fa fa-twitter"></span> Sign in with Twitter
          </a>

        </p>
      </div>
    </div>

{{template "twissr_footer.tmpl.html"}}
